/* =============
    Base
============= */

    .css-grid{
    
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". big-grid .";
        
        >div{
            grid-area: big-grid;
        }
    }


// .best-friends{
//     display: grid;
//     grid-template-columns: 16px 50% 50% 16px;
//     grid-template-areas: ". work .";

//     >div{
//         grid-area: work;
        
//     }

// }

.search-grid{
    display: grid;
    grid-template-columns: 16px 100% 16px;
    grid-template-areas: ". please .";

    >div{
        grid-area: please;
    }
}

.desktop-only{

    display: none;
    
    @include lg{
        display: block;
    }
}

.tablet-only{

    display: none;
    
    @include md{
        display: block;
        grid-template-columns: 75% auto;
        color: #39B6FD;
    }
}