/* =============
    Base
============= */

    .css-grid{
    
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". big-grid .";
        
        >div{
            grid-area: big-grid;
        }
    }


