/* =============
    Base
============= */

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

    .css-grid{
    
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". big-grid .";
        
        >div{
            grid-area: big-grid;
        }
    }


// .best-friends{
//     display: grid;
//     grid-template-columns: 16px 50% 50% 16px;
//     grid-template-areas: ". work .";

//     >div{
//         grid-area: work;
        
//     }

// }

.search-grid{
    display: grid;
    grid-template-columns: 16px 100% 16px;
    grid-template-areas: ". please .";

    >div{
        grid-area: please;
    }
}

#search{
    >div{
        >section{
            >input{
                width: 85%;
                padding: 20px 20px 20px 20px;
                margin: 20px 20px 20px 20px;
                box-sizing: border-box;
            }
            >button{
                padding: 20px 20px 20px 20px;
                margin: 20px 20px 20px 0px;
                background-color: #39B6FD;
                box-sizing: border-box;
            }
           
        }
      
    }
    
}

.desktop-up{

    display: none;
    
    @include lg{
        display: block;
    }
}

.tablet-up{
    display: none;
    
    @include md{
        display: block;
        font-size: rem-calc(32);
        text-align: center;
        font-weight: 600;
    }
   
}

.spacing{
    margin-top: 32px;

    @include md{
        margin-top: 64px;
    }
}

    
   
