/* =============
    Typography
============= */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
   
    background: #ffffff;
    color: rgb(5, 134, 173);
    text-align: left;
}

h1 {

    @include sm {
        display: none;
    }

    @include md {
        display: block;
        grid-template-columns: 75% auto;
        font-family: "open sans", sans-serif;
        font-size: rem-clac(36);
        color: rgb(6, 82, 153);
    }
}

h6 {
    font-size: rem-clac(16);
    padding: 0px;
    margin: 16px 0px 16px 0px;
}

h5 {
    font-size: rem-calc(42);
}

.bold-font {
    // >section{
    font-size: rem-calc(14);
    font-weight: 600;

    @include md {
        font-size: rem-calc(24);
        font-weight: 600;
    }

    // }

}

.semi-bold {

    font-size: rem-calc(14);
    font-weight: 300;

    @include md {
        font-size: rem-calc(24);
        font-weight: 300;
    }
}