.gallery {
    img {
        width: 50%;
    }

}

#bigpic {
    img {
        width: 100%;
        margin-top: 50px;
    }
}

.css-grid-gallery {


    display: grid;
    grid-template-columns: 50% auto;
}

#little-gallery {

    @include md {

        >div {
            >ul {
                display: grid;
                grid-template-columns: 50% auto;
            }
        }

    }
}

