#hero {
    #hero-please-work {
        width: 100%;
    }

}

.dark-bleed {
    background-color: #39B6FD;
    color: black;

    >img{
        width: 100%;
    }
}

.light-bleed {
    background-color: #8FD7FF;
    color: black;

    

    @include md {
        font-size: rem-calc(20);
    }
    >img{
        width: 100%;
    }
}

.green-bleed {
    background-color: #B4F1E2;
    color: black;

    @include md {
        font-size: rem-calc(20);
    }
    >img{
        width: 100%;
    }
}



.callout-pad-left {
    margin: 16px 0px 16px 0px;
    padding: 0px 16px 0px 16px;

    @include md {
        margin: 24px 0px 24px 0px;
    }
}

.callout-pad-right {
    margin: 16px 16px 16px 0px;
    padding: 0px 16px 0px 16px;

    @include md {
        margin: 24px 0px 24px 0px;
    }
}

#best-friends-container {

    @include xl {
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". bfc .";
    }

    >div {
        @include sm {
            grid-template-areas: "quote button";
        }

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
        }

        @include xl {
            grid-area: bfc;
        }

        .best-friends-content {
            grid-template-columns: 75% auto;
            padding: 16px;

            button{

                h4{
                    display: none;

                    @include md{
                        display: inline;
                    }
                }
            }
        }
 

        .quote {
            grid-area: quote;
        }

        .button {
            grid-area: button;
        }

    }
}

#callouts {

    @include xl {
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". callouts .";
    }

    >div {

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            gap: 16px
        }

        @include xl {
            grid-area: callouts;
        }


    }

    >aside {
        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            gap: 16px
        }

        @include xl {
            grid-area: callouts;
        }
    }
}