#hero {
    #hero-please-work {
        width: 100%;
    }

}





.callout-pad-left {
    margin: 16px 0px 16px 0px;
    padding: 0px 16px 0px 16px;

    @include md {
        margin: 24px 0px 24px 0px;
    }

    div{
        display: flex;
    }
   
}

.callout-pad-right {
    display: flex;
    margin: 16px 16px 16px 0px;
    padding: 0px 16px 0px 16px;

    @include md {
        margin: 24px 0px 24px 0px;
    }

    div{
        display: flex;
    }
}


#best-friends-container {

    @include xxl {

        .under-left{
            display: grid;
            grid-template-columns: 16px 485px auto;
            grid-template-areas: ". bfc .";
        }

        .under-right{
            display: grid;
            grid-template-columns: auto 485px 16px;
            grid-template-areas: ". bfc .";
        }
        
    }

    >div {
        @include sm {
            grid-template-areas: "quote button";
        }

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
        }

        @include xxl {
            grid-area: bfc;
        }

        .best-friends-content {
            grid-template-columns: 75% auto;
            padding: 16px;

            button{

                h4{
                    display: none;

                    @include md{
                        display: inline;
                    }
                }
            }
        }
 

        .quote {
            grid-area: quote;
        }

        .button {
            grid-area: button;
        }

    }
}

#callouts {

    @include xxl {
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". callouts .";
    }

    >div {

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            gap: 16px
        }

        @include xxl {
            grid-area: callouts;
        }


    }

    >aside {
        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            gap: 16px
        }

        @include xxl {
            grid-area: callouts;
        }
    }
}