/* =============
    Footer
============= */
footer{

    margin-top: 56px;

    background-color: #1B9678;
    color: white;

    >div{

        display: grid;
        gap: 16px;

        @include md{
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "contact newsletter"
            ". follow";
        }

        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "contact newsletter follow";
        }

        #contact{
            @include md{
                grid-area: contact;
            }
            ul{
                li{
                    section{
                        display: grid;
                        grid-template-columns: 20% auto;

                    }
                }
            }
        }
        #newsletter{
            @include md{
                grid-area: newsletter;
            }

        }
        #follow{
            @include md{
                grid-area: follow;
            }
        }
    }
}