/* =============
    Header
============= */


header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #B4F1E2;

    img {
        // width: 10%
        width: 100px;
    }

}



// .headline {
//   grid-template-columns: 75% auto;
//   color: #39B6FD;
// }