/* =============
    Header
============= */


header{
    img{
        width: 10%
        }
    
display: grid;
grid-template-columns: 16px auto 16px;
grid-template-areas: ". grid-content .";
background-color: #B4F1E2;

}

.logo {
    grid-template-columns: 75% auto;
    width: 322px;
    height: 77px;
  }
  
  
  // .headline {
  //   grid-template-columns: 75% auto;
  //   color: #39B6FD;
  // }
