/* =============
    Header
============= */


header{
    img{
        width: 20%
        }
    
display: grid;
grid-template-columns: 16px auto 16px;
grid-template-areas: ". grid-content .";

}

.logo {
    display: grid;
    width: 322px;
    height: 77px;
  }
  
  
  .headline {
    width: 400px;
    height: 77px;
    color: #39B6FD;
  }
