/* =============
    Navigation
============= */

#close{

            button{
                padding: 16px 16px 16px 16px;
                background-color: var(--dark-dark-blue);
                border: none;
       
}
}